<!-- Responsive Contact Page with Dark Mode and Form Validation (vanilla JS).

*Designed & built for desktop and tablets with viewport width >= 720px and in landscape orientation.  -->

<div class="contact-container">
  <div class="left-col">
    <img class="logo" src="https://www.indonesia.travel/content/dam/indtravelrevamp/en/logo.png"/>
  </div>
  <div class="right-col">
    <div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" />
        <div class="slider round"></div>
  </label>
  <div class="description">Mode Sombre</div>
</div>
    
    <h1>Contact Missiva CHABANE</h1>
    <p>Contact Missiva CHABANE, car grâce au cours de M.Stocker vous avez gagné un voyage en Indonesie ! Donnez nous vos disponibilités dans la case message.</p>
    
    <form id="contact-form" method="post">
      <label for="name">Nom Prénom</label>
  <input type="text" id="name" name="name" placeholder="Ton Nom et Prénom" required>
      <label for="email">Adresse Mail</label>
  <input type="email" id="email" name="email" placeholder="Ton adresse mail" required>
      <label for="message">Message</label>
  <textarea rows="6" placeholder="Ton message" id="message" name="message" required></textarea>
      <!--<a href="javascript:void(0)">--><button type="submit" id="submit" name="submit">Envoyer</button><!--</a>-->
  
</form>
<div id="error"></div>
<div id="success-msg"></div>
  </div>
</div>

<!-- Image credit: Oliver Sjöström https://www.pexels.com/photo/body-of-water-near-green-mountain-931018/  -->
